*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
 
      
min-height: 100vh;
width: 100%;
background: linear-gradient(135deg, #153677,#4e085f);
padding: 10px;

}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;



}
.search-box{
    display: flex;
    justify-content: space-between;
   align-items: center;
    padding-inline-start:30px;
    border-radius: 30px;

    background:#edeef0;
}
.search-box input{
    border: none;
    flex: 1;
    padding: 10px;
    font-weight: 14px;
    outline: none;
    background-color: transparent;
    color: black;

}

.search-box .btn
{
   
    border: none;
    outline: none;
    background: #ff5945;
    padding: 16px 50px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    color: white;


}
.search-box .btn:hover{
    background-color: blueviolet;
    transition: 0.3s ease;
}
ul li{
    list-style: none;
    position: relative;

    align-items: center;


    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;

}
ul li.checked{
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(./images/checked.png);
}


.todo-app h2{
    color: #002765;


}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    left: 8px;
    top: 12px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-position: center;
    background-size: cover;

}

ul li span{
    position: absolute;
    right: 0;
    content: '';
    top: 5px;
  font-size: 22px;
  width: 40px;
  height: 40px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;

}
ul li span:hover{
    background: #edeef0;

   
   
}